//Desktop Version
.four:hover {
    color: blue;
    border-color: brown;

}
.hiddenbar:hover {
    background-color: aqua;
}

#sidebarmobile {
    display: none;
}


.chart-container {
    position: absolute;
    width: 686px;
    height: 336px;

}
//Mobile Version
@media (max-width: 768px) { 
.col-sm-2 {
    display: none;
}

#sidebarmobile {
    display: block;
}
 }